version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

    assignees:
      - "DilicalFlame"

    groups:
      all-dependencies:
        patterns:
          - "*"

  # Maintain dependencies for the documentation site
  - package-ecosystem: "npm"
    directory: "/docs"
    schedule:
      interval: "weekly"
    groups:
      docs-dependencies:
        patterns:
          - "*"